<table class="table text-center">
    <thead>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Descripccion</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Compra</th>
    </thead>
    <tbody class="table-group-divider">
        <tr *ngFor="let cmp of computers" [ngClass]="{'clearance': cmp.clearance}">
            <td><img width="150" class="img-thumbnail" [src]="cmp.image" [alt]="cmp.name" class="compImg" ></td>
            <td>{{cmp.name}}</td> 
            <td>{{cmp.description}}</td>
            <td>{{cmp.price |currency}}</td>
            <td>
                <span class="badge rounded-pill text-bg-warning" *ngIf="cmp.stock==0">Sin stock</span>
                <div *ngIf="cmp.stock>0">
                    <app-input-int [(quantity)]="cmp.quantity" [max]="cmp.stock" (MaxReached)="MaxReached($event)"></app-input-int>
                </div>
            </td>
            <td><button type="button" class="btn btn-primary" (click)="addToCart(cmp)">Comprar</button></td>
    </tbody>
</table>
